<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="personal.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    />

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="javas.js"></script>
    <style></style>
  </head>
  <body>
    <nav class="navba navbar-expand-lg navbar-light bg-light" id="nav">
      <a style="color: #ff9100; margin-left: 60px;">Associate with us</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li>
            <a style="color: #ff9100; margin-left: 650px;"
              >Compliances Calender</a
            >
          </li>
          <li>
            <a style="color: #ff9100; margin-left: 35px;"
              >Offers for startups</a
            >
          </li>
          <li>
            <a style="color: #ff9100; margin-left: 35px;">We are hiring</a>
          </li>
        </ul>

      <a href="other.html"> <button
        class="btns1"
        type="submit"
        style="color: white; border-color: #ff9100;  background-color: #ff9100;
        outline: none; margin-right: 60px;"
      >
        login
      </button></a> 
      </div>
    </nav>
    <div class="nav2" class="">
           
      <div class="megamenu">
        <div class="container" style="max-width: 100% ;
        font-size: 0.34cm;
        padding-bottom: 2px;
      
        margin: 0 auto">
          <ul class="menu-main">
  
  
            <li class="menuitem"><a href=""> COMPANY COMPLIANCES </a>
              
            </li>
            
            <li class="menuitem"><a href="">FILLING ROC FORM</a>
              </li>
            
            <li class="menuitem"><a href="">TAXATION</a>
              <div class="menu-sub">
                
                <div class="menu-col-1">
                 
                  <ul>
                    <li><a href="">Increase in authorised share Capital</a></li>
                    <li><a href="">Transfer of Shares</a></li>
                    <li><a href="">Change in Statutory Auditor of the Company</a></li>
                    <li><a href="">Change in the Name of the Company</a></li>
                    <li><a href="">Secretarial Audit of company</a></li>
                  </ul>
  
              
                  <ul>
                    <li><a href="">NCLT Petition or Related Matters</a></li>
                    <li><a href="">Change in the Main Objects of the Company</a></li>
                  </ul>
  
              
                  
                </div>
  
                <div class="menu-col-1">
              
                  <ul>
                    <li><a href="">Change in Directorship of the Company</a></li>
                    <li><a href="">Change in Registered Office within city</a></li>
                    <li><a href="">Shifting of Registered Office outside local limit
                      but within same ROC/ same State</a></li>
                    <li><a href="">Shifting of Registered Office From One State To
                      Another State</a></li>
                    <li><a href="">Allotment of Fresh shares through Right Issue/ Private
                      Placement/ Preferential Allotment</a></li>
                  </ul>
  
              
                  <ul>
                    <li><a href="">Company Annual Compliance</a></li>
                    
                  </ul>
                </div>
  
                <div class="menu-col-1">
              
                  <ul>
                    <li><a href="">Registration of Charge</a></li>
                    <li><a href="">Insolvency of company</a></li>
                    <li><a href="">Fast track exit of company</a></li>
                    <li><a href="">Search Report and Due Diligence Report</a></li>
                
                  </ul>
                  <ul>
                    <li><h3><a href="">OTHER ROC COMPLINCES</a></h3></li>
                    <li><a href="">Certificate of Commencement of business
                      in FORM INC - 20A</a></li>
                  
                  </ul>
                </div>
  
                <div class="menu-col-1">
              
                  <ul>
                    <li><a href="">Reporting about MSME Vendors in MSME
                      FORM 1</a></li>
                    <li><a href="">Reporting of Loan and Deposits in FORM
                      DPT -3</a></li>
                    <li><a href="">FORM INC - 22A ACTIVE (Company KYC)</a></li>
                    <li><a href="">Return of Loan and Advances other than 
                      deposits FORM DPT-3</a></li>
                    <li><a href="">DIR-3 KYC (Director KYC)</a></li>
                  </ul>
  
              
                  <ul>
                    <li><a href="">FEMA Compliances for FDI/ODI</a></li>
                  
                  </ul>
                </div>
              </div>
            </li>
            
            <li class="menuitem"><a href="">SECRETERIAL</a>
              <div class="menu-sub">
                
                <div class="menu-col-1">
              
                  <ul>
                    <li><a href="">Increase in authorised share Capital</a></li>
                    <li><a href="">Transfer of Shares</a></li>
                    <li><a href="">Change in Statutory Auditor of the Company</a></li>
                    <li><a href="">Change in the Name of the Company</a></li>
                    <li><a href="">Secretarial Audit of company</a></li>
                  </ul>
  
              
                  <ul>
                    <li><a href="">NCLT Petition or Related Matters</a></li>
                    <li><a href="">Change in the Main Objects of the Company</a></li>
                  </ul>
  
              
                  
                </div>
  
                <div class="menu-col-1">
              
                  <ul>
                    <li><a href="">Change in Directorship of the Company</a></li>
                    <li><a href="">Change in Registered Office within city</a></li>
                    <li><a href="">Shifting of Registered Office outside local limit
                      but within same ROC/ same State</a></li>
                    <li><a href="">Shifting of Registered Office From One State To
                      Another State</a></li>
                    <li><a href="">Allotment of Fresh shares through Right Issue/ Private
                      Placement/ Preferential Allotment</a></li>
                  </ul>
  
              
                  <ul>
                    <li><a href="">Company Annual Compliance</a></li>
                 
                  </ul>
                </div>
  
                <div class="menu-col-1">
              
                  <ul>
                    <li><a href="">Registration of Charge</a></li>
                    <li><a href="">Insolvency of company</a></li>
                    <li><a href="">Fast track exit of company</a></li>
                    <li><a href="">Search Report and Due Diligence Report</a></li>
                   
                  </ul>
  
              
                  <ul>
                    <li><h3><a href="">OTHER ROC COMPLINCES</a></h3></li>
                    <li><a href="">Certificate of Commencement of business
                      in FORM INC - 20A</a></li>
                  
                  </ul>
                </div>
  
                <div class="menu-col-1">
              
                  <ul>
                    <li><a href="">Reporting about MSME Vendors in MSME
                      FORM 1</a></li>
                    <li><a href="">Reporting of Loan and Deposits in FORM
                      DPT -3</a></li>
                    <li><a href="">FORM INC - 22A ACTIVE (Company KYC)</a></li>
                    <li><a href="">Return of Loan and Advances other than 
                      deposits FORM DPT-3</a></li>
                    <li><a href="">DIR-3 KYC (Director KYC)</a></li>
                  </ul>
  
              
                  <ul>
                    <li><a href="">FEMA Compliances for FDI/ODI</a></li>
                  
                  </ul>
                </div>
              </div>
            </li>
            
            <li class="menuitem"><a href="">REGISTERATIONS</a>
              <div class="menu-sub">
                
                <div class="menu-col-1">
              
                  <ul>
                    <li><a href="">Professional Tax Registration in India</a></li>
                    <li><a href="">Registration under Shops and Establishment Act</a></li>
                    <li><a href="">Trade License in India</a></li>
                    <li><a href="">MSME Registration or Udyog Aadhar</a></li>
                    
                  </ul>
  
              
                </div>
  
                <div class="menu-col-1">
              
                  <ul>
                    <li><a href="">Import Export Code</a></li>
                    <li><a href="">Drug License for Pharmacy Business</a></li>
                    <li><a href="">FSSAI Registration / License</a></li>
                    <li><a href="">Barcode Registration in India</a></li>
                   
                  </ul>
  
              
                  
                </div>
  
                <div class="menu-col-1">
              
                  <ul>
                    <li><a href="">Private Security Agency Licence (PSARA)</a></li>
                    <li><a href="">IPR Registration</a></li>
                    <li><a href="">Trademark Registration in India</a></li>
                    <li><a href="">Trademark Registration For Foreigners</a></li>
                   
                  </ul>
  
              
                  
                </div>
  
                <div class="menu-col-1">
              
                  <ul>
                    <li><a href="">Patent Registration</a></li>
                    <li><a href="">Copyright Registration</a></li>
                    <li><a href="">ISO CERTIFICATION</a></li>
                    <li><a href="">GST Registration</a></li>
                   
                  </ul>
  
              
                 
                </div>
          
               </div>
            </li>
            
            <li class="menuitem"><a class="hover" href="">FORM AN ENTITY</a>
              <div class="menu-sub">
                
                <div class="menu-col-1">
              
                  <ul>
                    <li><a href=""> Form a Business Entity</a></li>
                    <li><a href="">Registration of Sole Proprietorship Firm</a></li>
                    <li><a href="">Partnership Firm Registration</a></li>
                    <li><a href="">OPC Company Registration</a></li>
                    
                  </ul>
  
              
                </div>
  
                <div class="menu-col-1">
              
                  <ul>
                    <li><a href="">Private Company Registration</a></li>
                    <li><a href="">Public Limited Company Registration</a></li>
                    <li><a href="">Registration of Nidhi Company</a></li>
                    <li><a href="">LLP Registration in India</a></li>
                   
                  </ul>
  
              
                  
                </div>
  
                <div class="menu-col-1">
              
                  <ul>
                    <li><a href="">Producers Company</a></li>
                    <li><a href="">NBFC Company</a></li>
                    <li><a href="">Section 8 company Registration</a></li>
                    <li><a href="">Trust Registration in India</a></li>
                   
                  </ul>
  
              
                  
                </div>
  
                <div class="menu-col-1">
              
                  <ul>
                    <li><a href="">Society Registration in India</a></li>
                    <li><a href="">Registration of Branch Office of Foreign Company</a></li>
                    <li><a href="">Project Office Registration in India</a></li>
                    <li><a href="">Liaison Office Registration in India</a></li>
                   
                  </ul>
  
              
                 
                </div>
              </div>
            </li>
  
  
   
          </ul>
      </div>
    </div>
    <!-- <div class="nav2">
      <ul>
        <li><a href="#home">FORM AN ENTITY</a></li>
        <li><a href="#news">REGISTRATIONS</a></li>
        <li><a href="#contact">SECRETERIAL</a></li>
        <li><a href="#about">TAXATION</a></li>
        <li><a href="#about">FILING ROC FORMS</a></li>
        <li><a href="#about">COMPANY COMPLIANCES</a></li>
      </ul>
    </div> -->
    <div class="image" >
 
        <div  class="text" style=" font-size: 60px; margin-left: 10%; display: inline-block; margin-top: 90px;">
          Leave Your business</div
          >
          <br>
        <span class="text" style="font-size: 60px; margin-left: 10%;">Hustle for Us</span> 
<br>
<br>
        <h3 style="display: inline-block; color: white; margin-left: 2.5%; position: absolute; ">
         <span style="font-size: 0.565cm;">Your are startup or established bussines We can manage</span>  <br />
        <span style="font-size: 0.565cm;">your all legalies, financial formalities & documentation.</span> 
        </h3>
       
          <form id="contact" method="post">
            <h3
              style="
              padding: 1px;
              padding-left: 25px;
              padding-right: 25px;
                text-align: center;
                font-size: 0.4cm;
                color: #8D8D8D;
                font-weight: 400;
                
              "
            >
            Fill this from and Start Hassle 
            free process 
            </h3>
        
            <fieldset class="user">
              <input
              id="name"
              style="margin-top: 10px;"
                placeholder="Your name"
                type="tel"
                tabindex="3"
                required
              />
            </fieldset>
      <br>      <div>
              
            
            
            <fieldset class="user">
              <input
              id="email"
                placeholder="Email id"
                type="text"
                tabindex="4"
                required
              />
            </fieldset>
            <br>
            <fieldset class="user">
              <input
              id="phone"
                placeholder="Phone"
                type="tel"
                tabindex="4"
                required
              />
            </fieldset>
            <br>
            <fieldset class="user">
              <input
              id="city"
                placeholder="City"
                type="text"
                tabindex="4"
                required
              />
            </fieldset>
            <br>
            <fieldset class="user">
              <input
              id="service"
              
                placeholder="Service you are looking for... "
                type="text"
                tabindex="4"
                required
              />
            </fieldset>
           <br>
            <button
              style="font-size: 0.5cm;"
              name="submit"
              type="submit"
              id="submit"
              data-submit="...Sending"
            >
              Get started
            </button>
            <div id="i" style="color: white; font-size: 0.5cm;"></div>
          </form>
 
    </div>
    <h2 style="display: inline-block; margin-top: 400px; margin-left: 60px;">Offers of the day</h2>
    <img src="Path 8.png" style="margin-top: 410px;float: left; margin-left: 120px; height: 7.8cm;" alt="">
    <div class="row"  id="but" >
      <div class="col-sm-12" id="off">
        <button
        id="btnss"
        class="btns"
        type="submit"
        
     
      >
        All Sevices
      </button> <button
      id="btnssn"
      class="btns"
      type="submit"
     
    >
      Registration
    </button> <button
    id="btnssa"
    class="btns"
    type="submit"
    
  >
  Secretarial
  </button> <button
  id="btnssb"
  class="btns"
  type="submit"
 
>
Book keeping
</button> <button
class="btns"
id="btnssc"
type="submit"

>
Legal
</button> <button
class="btns"
id="btnssd"
type="submit"

>
Documents
</button>
<div id="coln">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
<br>
<br><br><br>
</div>
</div>
      </div>
      <div id="bac" style="text-align: center;" >
       <h2>Why us</h2>
       <img src="Line 1.png" alt="" style="margin-top: -2%;margin-right: 14%;">
       <div id ="roo"class="row">
        <div class="col-sm-3" >
          
            <div class="card-body">
             
           <img src="Group 10.png" alt="">
           <p style="font-size: small;margin-left: 5%; margin-top: 20%;">Fastest Growing Legal Portal</p>
          </div>
        </div>
        <div class="col-sm-3">
          
            <div class="card-body">
            <img src="Group 7.png" alt="">
            <p style="font-size: small;margin-left: 5%; margin-top: 20%;">Served 5000+ Customers in 2 Years</p>
          </div>
        </div>
        <div class="col-sm-3">
           
              <div class="card-body">
       <img src="Group 8.png" alt="">
       <p style="font-size: small;margin-left: 5%; margin-top: 20%;">Available in 150+ Cities of India</p>
            </div>
          </div>
          <div class="col-sm-3">
    
              <div class="card-body">
                <img src="Group 9.png" alt="">
              <p style="font-size: small;margin-left: 5%; margin-top: 20%;">Solved 15000+ Legal & Tax Queries</p>
            </div>
          </div>
         
      </div>
    </div>
    <div>
      <div style="margin-left: -1%; padding-bottom: 7%;" >
        <div style="align-items: center;margin-left: -6%;margin-top: 10%;"><img src="Capturhe.PNG" alt="" style=" margin-top: -3%;width:2cm;height: 0.5cm;"></div> 
          
          
                  <div class="card-body" style="display: inline-block;margin-left: 7%;" >
                   <h3 style="font-size: 0.8cm;">What Clients say <br> 
                    About us</h3>
                    <p >Lorem ipsum dolor sit amet, consectetur <br>
                      adipiscing elit, sed do eiusmod tempor <br>
                      incididunt ut labore et  dolore magna <br>
                      aliqua. Ut enim ad minim</p>
                  
                      <div class="" id="shad" style="height: 7cm;width: 8cm; margin-left: 150%;margin-top: -50%;">
                        
                        
<img src="20170724-131004.png" style="margin-top:-19%; margin-right:80% ; margin-left:-18% ;margin-bottom: 20%;" alt="">
                        <div class="card-body">
                          <h4 style="margin-top: -50%;margin-left: 22%;">Rajiv Gupta</h4>
                          <h6 style="margin-top: -2%;margin-left: 22%;">Director,XYZ Pvt. Ltd</h6>
                          <p style="font-size: small;">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum"</p>
                        </div>
                      </div>
                      <div class="" id="shad" style="height: 7cm;width: 8cm; margin-left: 280%;margin-top: -88%;">
                        <img src="20170724-131004.png" style="margin-top:-19%; margin-right:80% ; margin-left:-18% ;margin-bottom: 20%;" alt="">
                        <div class="card-body">
          <h4 style="margin-top: -50%;margin-left: 22%;">Rajiv Gupta</h4>
          <h6 style="margin-top: -2%;margin-left: 22%;">Director,XYZ Pvt. Ltd</h6>
          <p style="font-size: small">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum"</p>
                        </div>
                      </div>

                      
                </div>
            
                
              
                 
                   
                  </div>
                  
              
             <div style="background-color: #F3F3F3; padding-top: 3%;padding-bottom: 3.5%;">
              <h4 style="text-align: center; padding-bottom: 2%;">Our Clients</h4>
             <div style="align-items: center;margin-left: 41.5%;margin-top: -2%;"><img src="Line 1.png" alt="" style=" margin-top: -3%;width:0.6cm;"></div> 
             <div ><img src="1528286964_BurgersinghLogo.png" style="height: 3cm;width: 3cm;margin-right: 4%;" alt="">
              <img src="icici_bank_logo_symbol.png" style="margin-left: -0.1%;margin-right: 5%;" alt="">
              <img src="DA-MILANO.png" style="height: 3cm;width: 3cm;margin-left: -0.1%;margin-right: 6%;" alt="">
              <img src="1522655410_KhanchachaLogo.png" style="height: 3cm;width: 3cm;margin-left: -0.1%;margin-right: 7%;" alt="">
              <img src="Dk0bYiMS_400x400.png" style="height: 3cm;width: 3cm;margin-left: -0.1%;" alt=""></div> 

            </div>
                
            </div>
    <div style="padding: 3%;padding-left: 10%;padding-right: 10%;"> 
      <h4 style="text-align: center;">Latest Feeds</h4>
      <div style="align-items: center;margin-left: 41%;margin-top: -1.3;"><img src="Line 1.png" alt="" style=" margin-top: -3%;width:0.6cm;height: 0.1cm;"></div> 
      <div class="row" style="margin-top: 5%;" >
        <div class="col-sm-4" style="padding-left: 2%;padding-right: 2%;">
<div class="card" id="shadow" style="border-radius: 10px;border-color: white;">
<div class="col-sm-12" id="sha" style="margin-top: 60%;background-color: #ACACAC;color:#ACACAC ;border-end-end-radius: 10px;border-bottom-left-radius: 10px;border-bottom-right-radius: 10px ;"><p></p><br><p></p></div>
</div>
        </div>
        <div class="col-sm-4" style="padding-left: 2%;padding-right: 2%;">
          <div class="card" id="shadow"style="border-radius: 10px;border-color: white;">
            <div class="col-sm-12" id="sha" style="margin-top: 60%; background-color: #ACACAC;color:#ACACAC ;border-end-end-radius: 10px;border-bottom-left-radius: 10px ;border-bottom-right-radius: 10px ;">
            <p></p> <br><p></p></div>
          </div>
        </div>
        <div class="col-sm-4" style="padding-left: 2%;padding-right: 2%;">
          <div class="card" id="shadow" style="border-radius: 10px;border-color: white;">
            <div class="col-sm-12" id="sha" style="margin-top: 60%;background-color: #ACACAC;color:#ACACAC ;border-end-end-radius: 10px;border-bottom-left-radius: 10px ;border-bottom-right-radius: 10px ;"><p></p>
            <br> <p></p>
          </div>
          </div>
        </div>
      </div>
    </div>
    <div id="rec" >
      <div style="padding-top: 0.1%;margin-left: 5%;margin-right: 5%;">
      <div class="row" style="margin:4%" >
        <div class="col-sm-3">
         
            <div class="card-body" style="color: white;">
              <h6>REGISTRATIONS</h6>
              <div style="margin-left: -15%;"><img src="Captuhhre.png" alt="" style=" margin-top: -10%; width:0.6cm;height: 0.1cm;"></div> 
              <ul style="list-style-type:none;font-size: 0.3cm; margin-top: -7%;"><li>Option one</li>
              <li>
                Option two
              </li>
            <li>Option three</li>
          <li>Option four</li></ul>
            </div>
          
        </div>
        <div class="col-sm-3">
        
            <div class="card-body" style="color: white;">
              <h6>LICENCING</h6>
              <div style="margin-left: -15%;"><img src="Captuhhre.png" alt="" style=" margin-top: -10%; width:0.6cm;height: 0.1cm;"></div> 
              <ul style="list-style-type:none;font-size: 0.3cm;margin-top: -7%;"><li>Option one</li>
                <li>
                  Option two
                </li>
              <li>Option three</li>
            <li>Option four</li></ul>
           
          </div>
        </div>
        <div class="col-sm-3">
          
            <div class="card-body" style="color: white;">
              <h6>TAXATION</h6>
              <div style="margin-left: -15%;"><img src="Captuhhre.png" alt="" style=" margin-top: -10%; width:0.6cm;height: 0.1cm;"></div> 
              <ul style="list-style-type:none;font-size: 0.3cm;margin-top: -7%;"><li>Option one</li>
                <li>
                  Option two
                </li>
              <li>Option three</li>
            <li>Option four</li></ul>
            </div>
         
        </div>
        <div class="col-sm-3">
         
            <div class="card-body"  style="color: white;">
              <h6>OTHERS</h6>
              <div style="margin-left: -15%;"><img src="Captuhhre.png" alt="" style=" margin-top: -10%; width:0.6cm;height: 0.1cm;"></div> 
              <ul style="list-style-type:none;font-size: 0.3cm;margin-top: -7%;"><li>Option one</li>
                <li>
                  Option two
                </li>
              <li>Option three</li>
            <li>Option four</li></ul>
          
          </div>
        </div>
      </div>
      <div class="row" style="margin:4%">
        <div class="col-sm-3">
         
            <div class="card-body"  style="color: white;">
              <h6>Navigations</h6>
              <div style="margin-left: -15%;"><img src="Captuhhre.png" alt="" style=" margin-top: -10%; width:0.6cm;height: 0.1cm;"></div> 
              <ul style="list-style-type:none; font-size: 0.3cm;margin-top: -7%;"><li>Option one</li>
                <li>
                  Option two
                </li>
              <li>Option three</li>
            <li>Option four</li>
          <li>Option five</li></ul>
            </div>
          
        </div>
      <div class="col-sm-3">
    
          <div class="card-body"  style="color: white;">
            <h6>Kolkata Office</h6>
            <div style="margin-left: -15%;"><img src="Captuhhre.png" alt="" style=" margin-top: -10%; width:0.6cm;height: 0.1cm;"></div> 
            <p style="font-size: 0.3cm;margin-top: -7%;">14, Netaji Subhas Road, 3rd floor,
              Kolkata – 700001, West Bengal, India,
              Contact Person : Sanjay Mohta
              M +91-9311142890</p>
          </div>
        
      </div>
      <div class="col-sm-3">
        
          <div class="card-body"  style="color: white;">
            <h6>Mumbai Office</h6>
            <div style="margin-left: -15%;"><img src="Captuhhre.png" alt="" style=" margin-top: -10%; width:0.6cm;height: 0.1cm;"></div> 
            <p style="font-size: 0.3cm;margin-top: -7%;">SS- III 50 , 1st Floor , Opposite Railway
              Housing Society, Near Abott Hotel,
              Sec 02 , Vashi, Mumbai, India
              Contact Person : Narayan Sarda
              M +91-9999799278</p>
          </div>
        
      </div>
      <div class="col-sm-3">
        
          <div class="card-body"  style="color: white;"><h6>Head Office</h6>
            <div style="margin-left: -15%;"><img src="Captuhhre.png" alt="" style=" margin-top: -10%; width:0.6cm;height: 0.1cm;"></div> 
            <p style="font-size: 0.3cm;margin-top: -7%;">80 , Ground Floor , Defence Enclave,
              Main Vikas Marg , Delhi - 110092.
              Phones : 011-45235502/03/04
              M +91-9999999278</p></div>
        </div>
      
    </div>
      <div class="row"style="margin:4%">
        <div class="col-sm-3">
         
            <div class="card-body"></div>
        
        </div>
        <div class="col-sm-3">
         
            <div class="card-body"></div>
         
        </div>
        <div class="col-sm-3">
         
            <div class="card-body"  style="color: white;"><h6>Pune Office</h6>
              <div style="margin-left: -15%;"><img src="Captuhhre.png" alt="" style=" margin-top: -10%; width:0.6cm;height: 0.1cm;"></div> 
              <p style="font-size: 0.3cm;margin-top: -7%;">Down Town City Vista, Kharadi,
                Pune - 411014, 
                Contact Person : Prerna Saboo
                M +91-8588059775</p></div>
          </div>
        <div class="col-sm-3">
         
            <div class="card-body"></div>
         
        </div>
      </div>
    </div>
    </div>
    <div class="col-sm-12">
      <span style="font-size: small;">Copyright Line</span>
      <span style="float: right;font-size: small;padding: 0.3cm;padding-top: 0.2cm;">cards Icon</span>
    </div>
      </div>
            
    </div>
      </div>
  </div>

   
   
   
  </body>
</html>
