body {
  font-family: "lato";
}
ul li a {
  font-size: 0.34cm;
  padding-bottom: 2px;
}
nav a {
  font-size: 0.34cm;
  padding-bottom: 2px;
}
.align li{
 
  color: #ff7408;
  padding-left: 15px;
}
.align{
  margin-left: 60%;
}
@media screen and (max-width:600px){
  .align li{
 
    color: #ff7408;
    padding-left: 1%;
  }
  h6{
    padding-top: 25px;
  }
  .image .text .head{
    font-size: 60px;
   position: relative;
   top: 25px;
   left: 20px;
  }
  .imgg{
   
  }
  .align{
   margin-left:4%;
  }
  .btns1{
    margin-left: 40%;
    margin-bottom: 2%;
  }
  
  .image .text .head{
    font-size: 30px;
    margin-top: 0px;

 
  }
  .text1 {
    font-size: 20px;
    position: relative;
    left: 5%;
    
  }
  
  .imgg{
   margin-left: -100px;
  }
  .btns {
    margin-top: 6px;
  margin-left: -3%;
    display: block;
    font-weight: 400;
    color: #212529;
    background-color: linear-gradient(to right, #ff0000, #ff7408);
   
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    padding-bottom: 2px;
    font-size: 0.34cm;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 0.25rem;
  
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  .btns1{
    margin-top: 6px;
    display: inline-block;
    font-weight: 400;
    color: #212529;
    background-color: linear-gradient(to right, #ff0000, #ff7408);
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    padding-bottom: 2px;
    font-size: 0.34cm;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 0.25rem;
  
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  
}
#contact h3{
  padding: 1px;
              padding-left: 25px;
              padding-right: 25px;
                text-align: center;
                
                color:#6d6d6d;
                font-weight: 400;
                
}
.text2{
  color: #212529;
  position: relative; display: inline-block; margin-top: 32%; margin-left: 60px;
}
.head{
  font-size: 60px;
 position: relative;
 top: 100px;
 left: 80px;
}
.text1{
  display: inline-block; color: white; margin-left: -1.4%; position: absolute;
  margin-top: 5%; 
 
}

nav {
  background-color: white;
}
.navba {
  position: relative;

  display: -ms-flexbox;

  display: flex;

  -ms-flex-wrap: wrap;

  flex-wrap: wrap;

  -ms-flex-align: center;

  align-items: center;

  -ms-flex-pack: justify;

  justify-content: space-between;
}
.btns {
  margin-top: 6px;
  display: inline-block;
  font-weight: 400;
  color: #212529;
  background-color: linear-gradient(to right, #ff0000, #ff7408);
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  padding-bottom: 2px;
  font-size: 0.34cm;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 0.25rem;

  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btns1{
  margin-top: 6px;
  display: inline-block;
  font-weight: 400;
  color: #212529;
  background-color: linear-gradient(to right, #ff0000, #ff7408);
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  padding-bottom: 2px;
  font-size: 0.34cm;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 0.25rem;

  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.nav2 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  position: absolute;
}



.nav2 li a {
  display: block;
  color: #505050;

}
.image {
  background-image: url("Path 1.png");
  background-color: white;
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.text {
  color: white;
}

img {
  margin-left: 13%;
}

#active {
  background-color: #ff9100;
  color: #ffffff;
  box-shadow: 0 0 130px #f3a723;
}

#btnss:hover,
#btnssa:hover,
#btnssb:hover,
#btnssc:hover,
#btnssd:hover,
#btnssn:hover {
  background-color: #ff9100;
  color: #ffffff;
}
#btnss {
  outline: none;
  color: #ff9100;
  box-shadow: 0 0 130px #f3a723;
}
#btnssn {
  outline: none;
  color: #ff9100;
  box-shadow: 0 0 130px #f3a723;
}
#btnssa {
  outline: none;
  color: #ff9100;
  box-shadow: 0 0 130px #f3a723;
}
#btnssb {
  outline: none;
  color: #ff9100;
  box-shadow: 0 0 130px #f3a723;
}
#btnssc {
  outline: none;
  color: #ff9100;
  box-shadow: 0 0 130px #f3a723;
}
#btnssd {
  outline: none;
  color: #ff9100;
  box-shadow: 0 0 130px #f3a723;
}
#off {
  margin-left: 4%;
}
#ro {
  margin-top: 20px;
}
#bac {
  background-color: #f3f3f3;
  padding: 7%;
}
#roo {
  color: #6d6d6d;
}
#ell {
  background-image: url("Captured.PNG");
  background-color: white;

  background-repeat: no-repeat;
  background-size: 1cm 1cm;
  position: relative;
  margin-top: 2%;
  margin-left: 2%;
}
#elf {
  background-image: url("Capturem.PNG");
  background-color: white;

  background-repeat: no-repeat;
  background-size: 1cm 1cm;
  position: relative;
  margin-top: 2%;
  margin-left: 2%;
}
#elg {
  background-image: url("Capturen.PNG");
  background-color: white;

  background-repeat: no-repeat;
  background-size: 1cm 1cm;
  position: relative;
  margin-top: 2%;
  margin-left: 2%;
}
#rec {
  background-image: url("Rectangle 39.png");
  background-color: white;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
}
#btns {
  color: #ff9100;
}

#shad {
  box-shadow: 0px 0px 20px #c7c6c6;
}
#shadow {
  box-shadow: 0px 0px 20px #fad3b2;
}
#sha {
  box-shadow: 0px 0px 20px #fad3b2;
}
body {
  font-family: "lato";

  box-sizing: border-box;
}

 .nav2{
  background: #ddd;
  margin: 0;
 
 
}


.nav2 .container {
  max-width: 100% ;
  font-size: 0.34cm;
  padding-bottom: 2px;

  margin: 0 auto ;
}

.nav2 .megamenu {
  background: #fff ;
 ]
}

.nav2  .megamenu  ul {
  margin: 0 ;
  padding: 0 ;
  list-style: none ;
  position: relative ;
  text-align: left ;
}

 .megamenu  li {
  display: inline-block ;
}

 .megamenu  a {
  color: #505050 ;
  text-decoration: none;
  display: block;
  padding: .75em 1.75em;
}
.menuitem{
  
    float: right;
}

 .menuitem a:hover {
   
   color: #212529;
 text-decoration: none;
  border-bottom: 3px solid #FF9100;
}

 .megamenu  li:hover a {
  color: #444 ;
}


.menu-sub {
  position: absolute ;
  left: 0;
  background: #fff;
  width: 100%;
  display: none;
  color: #444;
  padding: 2em;
  box-shadow: 1px 0px 1px 0px #FF9100;
}

 .megamenu  li:hover .menu-sub {
  display: block ;
  height:auto;
  position: relative; 

}

.menu-sub li {
  display: block ;
 float: left;
 width: 100%;

}

.menu-sub a {
  padding: 0;
  margin-bottom: .35em;
  
}

.menu-sub a:hover {
  text-decoration: underline;
  border-bottom: none;
}

.menu-category {
  margin: 2.5em 0 .5em;
}

.menu-category:first-of-type {
  margin-top: 0;
}

.menu-col-1,
.menu-col-2,
.menu-col-3,
.menu-col-4 {
  float: left;
}

.menu-col-1 {
  width: 25%;
}



.nav2 .menuitem {
  float: right;
}



.menu-sub h3{
  border-bottom: 1px solid #444;
  width: 55%;}