<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CA PORTAL</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<link rel="stylesheet" href="2 page.css">
<link rel="stylesheet" href="form.css">


</head>
<body>

    <nav class="navba navbar-expand-lg navbar-light bg-light" id="nav">
        <a style="color: #ff9100; margin-left: 60px;">Associate with us</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li>
              <a style="color: #ff9100; margin-left: 650px;"
                >Compliances Calender</a
              >
            </li>
            <li>
              <a style="color: #ff9100; margin-left: 35px;"
                >Offers for startups</a
              >
            </li>
            <li>
              <a style="color: #ff9100; margin-left: 35px;">We are hiring</a>
            </li>
          </ul>

          <button
            class="btns  "
            type="submit"
            style="color:white; border-color: #ff9100; margin-right: 60px; background-color: #ff9100;outline: none;"
          >
          login
          </button>
        </div>
      </nav>
      <div class="nav2">
        <ul id="ul0">
          <li><a href="#home">FORM AN ENTITY</a></li>
          <li><a href="#news">REGISTRATIONS</a></li>
          <li><a href="#contact">SECRETERIAL</a></li>
          <li><a href="#about">TAXATION</a></li>
          <li><a href="#about">FILING ROC FORMS</a></li>
          <li><a href="#about">COMPANY COMPLIANCES</a></li>
        </ul>
      </div>

      <div id="div1">
          <div id="image">
<div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-6 col-lg-6 col-xl-6 col-6">

          <form id="contact" action="" method="post">
            <h3
              style="
              padding: 1px;
              padding-left: 25px;
              padding-right: 25px;
                text-align: center;
                font-size: 0.4cm;
                color: #8D8D8D;
                font-weight: bold;

              "
            >
          Trademark Registration For Foreigners
            </h3>

            <fieldset class="user">
              <input
              id="c"
              style="margin-top: 10px;"
                placeholder="Your name"
                type="tel"
                tabindex="3"
                required
              />
            </fieldset>




            <fieldset class="user">
              <input
              id="e"
                placeholder="Email id"
                type="text"
                tabindex="4"
                required
              />
            </fieldset>

            <fieldset class="user">
              <input
              id="f"
                placeholder="Phone"
                type="tel"
                tabindex="4"
                required
              />
            </fieldset>

            <fieldset class="user">
              <input
              id="g"
                placeholder="City"
                type="text"
                tabindex="4"
                required
              />
            </fieldset>

            <fieldset class="user">
              <input
              id="e"

                placeholder="Service you are looking for... "
                type="text"
                tabindex="4"
                required
              />
            </fieldset>

            <button
              style="font-size: 0.5cm;"
              name="submit"
              type="submit"
              id="contact-submit"
              data-submit="...Sending"
            >
              Get started
            </button>
            <div id="i" style="color: white; font-size: 0.5cm;"></div>
          </form>
        </div>
        <div class="col-md-6 col-sm-6 col-lg-6 col-xl-6 col-6">
            <h2 style="color: white;font-weight: bold; margin-top: 80px;">Trademark Registration For Foreigners</h2>
              <!-- <h2 style="color: white;font-weight: bold;">Registrations</h2> -->
      <br>
               <h4 style=" color: white;">
               Discounted fee ₹5999* Inc. tax </h4><br><br>
               <div class="row">
                 <div class="col-md-6 col-sm-6 col-lg-6 col-xl-6 col-6">
                   <ul style="list-style-type: none;" id="ul1">
                     <li><img src="Group 14.png" style="height: 25px;padding-right: 10px;">Trademark Search in Indian Trademark Database</li>
                     <li><img src="Group 14.png"  style="height: 25px;padding-right: 10px;">Claim user date of home country with proper documentation</li>
                     <li><img src="Group 14.png"  style="height: 25px;padding-right: 10px;">Video Conferencing with Trademark Attorney</li>
                     <li><img src="Group 14.png"  style="height: 25px;padding-right: 10px;">Filing of TM Application after your approval within 1 Day</li>
                   </ul>

                 </div>
                 <div class="col-md-6 col-sm-6 col-lg-6 col-xl-6 col-6" style="padding: 0%;">
                   <ul style="list-style-type: none; margin-top: 4px; padding-left: 40px; border: dotted 2px white;padding: 10px;border-radius: 5px;" id="ul2">
                    <li>Get Free Perks </li>
                    <li><img src="icons8-giveaway-150.png" style="padding-right: 10px;">PAN & TAN Registrations</li>
                    <li><img src="icons8-giveaway-150.png" style="padding-right: 10px;">Support for Opening Bank Account</li>
                    <li><img src="icons8-giveaway-150.png " style="padding-right: 10px;">Free Domain Name</li>

                   </ul>

                 </div>
               </div>
        </div>
    </div>
</div>


        </div>


        <div style="background-color: white; ">
          <nav class="navbar navbar-expand-lg navbar-light bg-light" id="nav3" style="padding: 0%;" >
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav" style="background-color:#F3F3F3;height: 40px;">
              <ul class="navbar-nav ml-auto" class="nav justify-content-center">
                <li class="nav-item active">
                    <a class="nav-link" href="#"><img src="nav3 icon3.png" style="width: 32px; height: 32px;"  ><span style="border-right: solid 1px #6D6D6D ;padding-right: 15px;color: #8D8D8D;">Delivered in 10 Days</span> </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"><img src="nav3 icon2.png" style="width: 32px; height: 32px;"><span style="border-right: solid 1px #6D6D6D ;padding-right: 15px;color: #8D8D8D;">Anywhere from India</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"><img src="nav3 icon1.png" style="width: 32px; height: 32px;"><span style="padding-right: 15px;color: #8D8D8D; margin-right: 220px;">Get Instant Support</span></a>
                </li>

              </ul>
            </div>
          </nav>

          <div class="container">
            <div class="row">
              <div class="col-md-1 col-sm-1 col-lg-1 col-xl-1 col-1"></div>
              <div class="col-md-10 col-sm-10 col-lg-10 col-xl-10 col-10">
                <h2 class="text-center" style="margin-top: 70px;font-family: lato;color: #525252;">Introduction</h2>
                <img src="Line 1.png" alt="" style="margin-top: -2%; margin-left: 48%;"> <br><br>
                <p style="padding-bottom: 30px;color:#6D6D6D;">There are many advantages to securing your intellectual property rights like it enhance the market value of your business, Turn ideas into profit-making assets, Market your business’ products and services, Access or raise finance for your business , Enhance export opportunities for your business.</p>


              </div>
              <div class="col-md-1 col-sm-1 col-lg-1 col-xl-1 col-1"></div>
            </div>
          </div>
        </div>

        <div id="image2">
          <div class="conatiner">
            <div class="row">
              <div class="col-md-2 col-sm-2 col-lg-2 col-xl-2 col-2" style="padding: 0%;"></div>
              <div class="col-md-8 col-sm-8 col-lg-8 col-xl-8 col-8" style=" padding: 0%;">


                <ul class="nav nav-tabs" style="margin-top: 80px; border: none;" id="ul4">
                  <li class="nav-item">
                    <a class="nav-link active " href="#" style="border-right: solid 1px white;color: #707070;;">Documents Required</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#" style="border-right: solid 1px white;">Advantages</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#" style="border-right: solid 1px white;">Minimum Requiements</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Incorporation Procedure</a>
                  </li>

                </ul>
                <div style="background-color: white;margin-right: 12px; border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-1 col-sm-1 col-lg-1 col-xl-1 col-1"></div>
                      <div class="col-md-10 col-sm-10 col-lg-10 col-xl-10 col-10">
                        <div class="row">
                          <div class="col-md-6 col-sm-6 col-lg-6 col-xl-6 col-6">
                            <ul style="list-style-type: none; margin-top: 30px; margin-bottom: 30px;" id="ul5">
                              <li><img src="icons8-documents-100.png" style="width: 30px;"> Valid passport and visa</li>
                              <li><img src="icons8-documents-100.png" style="width: 30px;">4 passport size colour photographs (4 cm x 4cm) with white background, without spectacles or cap/hat</li>
                              <li><img src="icons8-documents-100.png" style="width: 30px;">The foreigner registration form</li>
                              <li><img src="icons8-documents-100.png" style="width: 30px;"> Photocopy of the photo page of the passport</li>
                              <li><img src="icons8-documents-100.png" style="width: 30px;">Payment of registration fee of ₹100 (US$1.40) </li>
                              <li><img src="icons8-documents-100.png" style="width: 30px;">For employment visas:<br>Copies of the terms and conditions the contract of assignment, including salary, designation, and tenure of employment </li>
                              <li><img src="icons8-documents-100.png" style="width: 30px;">For employment or business visas: <br>Copies of PAN card or of application made for grant of PAN card </li>
                              <li><img src="icons8-documents-100.png" style="width: 30px;">Online registration is only available in select cities. Applicants can apply for registration and upload relevant documents online. They may also schedule the date of their in-person appointment with a Registration Officer. Pakistani nationals are not eligible to schedule appointments, and must report to a police station within 24 hours of arriving in India.</li>
                            </ul>

                          </div>
                          <div class="col-md-6 col-sm-6 col-lg-6 col-xl-6 col-6">
                            <ul style="list-style-type: none; margin-top: 30px; margin-bottom: 30px;" id="ul5">
                              <li><img src="icons8-documents-100.png" style="width: 30px;">Photocopy of the page displaying validity of the passport</li>
                              <li><img src="icons8-documents-100.png" style="width: 30px;">Photocopy of the page displaying the Indian visa and arrival stamp</li>
                              <li><img src="icons8-documents-100.png" style="width: 30px;"> A letter of undertaking and identity document of an Indian sponsor</li>
                              <li><img src="icons8-documents-100.png" style="width: 30px;">Forwarding letter of concerned company/firm /business undertaking, signed by an authorised signatory and declaring name, designation, and contact number. </li>
                              <li><img src="icons8-documents-100.png" style="width: 30px;">Proof of residential address in India </li>
                              <li><img src="icons8-documents-100.png" style="width: 30px;">For student visas:<br>Copies of Bonafide certificate from the concerned academic institute mentioning validity of admission and nationality of the student. </li>
                              <li><img src="icons8-documents-100.png" style="width: 30px;">For medical visas:<br>Letter from concerned hospital where patient is undergoing treatment and supportive medical documents/diagnostic test reports, and medical certificate declaring estimated length of treatment</li>
                                <li><img src="icons8-documents-100.png" style="width: 30px;">If the applicant is admitted in the hospital, their doctor must provide a medical certificate bearing a photo of the applicant attested and certified by the doctor.</li>
                          </ul>

                          </div>
                        </div>

                      </div>
                      <div class="col-md-1 col-sm-1 col-lg-1 col-xl-1 col-1"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-2 col-sm-2 col-lg-2 col-xl-2 col-2" style="padding: 0%;"></div>
            </div>
          </div>


        </div>
        <div >
          <div class="container">
            <div class="row">
              <div class="col-md-1 col-sm-1 col-lg-1 col-xl-1 col-1"></div>
              <div class="col-md-10 col-sm-10 col-lg-10 col-xl-10 col-10" style="margin-bottom: 50px;">
                <h2  class="text-center" style="color: #525252; margin-top: 50px;">FAQ</h2>
                <img src="Line 1.png" alt="" style="margin-top: -2%; margin-left: 48%;"> <br><br>
                <div class="accordion" id="accordionExample">
                  <div class="card">

                      <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="color: white; background-color: #8D8D8D;text-decoration: none;">
                          + <span style="margin-left: 20px;color: white;"> Is it necessary to have two directors to form  Private Limited Company ? </span>
                        </button>
                      </h2>


                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample" style="background-color: #F3F3F3;">
                      <div class="card-body" style="margin-left: 20px; color: #8D8D8D;">
                        Yes, you need a minimum of two directors for a private limited company. The maximum members can be 200. If you are
the sole owner, you can register as a One Person Company
                      </div>
                    </div>
                  </div>
                  <div class="card">

                      <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" style="color:white; background-color: #8D8D8D;text-decoration: none;">
                          + <span style="margin-left: 20px;color: white;"> Is it necessary to have two directors to form  Private Limited Company ? </span>
                        </button>
                      </h2>

                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample" style="background-color:#F3F3F3 ;">
                      <div class="card-body" style="margin-left: 20px; color: #8D8D8D;">
                        Yes, you need a minimum of two directors for a private limited company. The maximum members can be 200. If you are
                        the sole owner, you can register as a One Person Company
                      </div>
                    </div>
                  </div>
                  <div class="card">

                      <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" style="color: white;background-color:#8D8D8D ;text-decoration: none;">
                          + <span style="margin-left: 20px;color: white;"> Is it necessary to have two directors to form  Private Limited Company ? </span>
                        </button>
                      </h2>

                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample" style="background-color:#F3F3F3 ;">
                      <div class="card-body" style="margin-left: 20px; color: #8D8D8D;">
                        Yes, you need a minimum of two directors for a private limited company. The maximum members can be 200. If you are
                        the sole owner, you can register as a One Person Company
                      </div>
                    </div>
                  </div>
                  <div class="card">

                    <h2 class="mb-0">
                      <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapsefour" aria-expanded="false" aria-controls="collapseTwo" style="color:white; background-color: #8D8D8D;text-decoration: none;">
                        + <span style="margin-left: 20px;color: white;"> Is it necessary to have two directors to form  Private Limited Company ? </span>
                      </button>
                    </h2>

                  <div id="collapsefour" class="collapse" aria-labelledby="headingfour" data-parent="#accordionExample" style="background-color:#F3F3F3 ;">
                    <div class="card-body" style="margin-left: 20px; color: #8D8D8D;">
                      Yes, you need a minimum of two directors for a private limited company. The maximum members can be 200. If you are
                      the sole owner, you can register as a One Person Company
                    </div>
                  </div>
                </div>
                <div class="card">

                  <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapsefive" aria-expanded="false" aria-controls="collapseTwo" style="color:white; background-color: #8D8D8D;text-decoration: none;">
                      + <span style="margin-left: 20px;color: white;"> Is it necessary to have two directors to form  Private Limited Company ? </span>
                    </button>
                  </h2>

                <div id="collapsefive" class="collapse" aria-labelledby="headingfive" data-parent="#accordionExample" style="background-color:#F3F3F3 ;">
                  <div class="card-body" style="margin-left: 20px; color: #8D8D8D;">
                    Yes, you need a minimum of two directors for a private limited company. The maximum members can be 200. If you are
                    the sole owner, you can register as a One Person Company
                  </div>
                </div>
              </div>
              <div class="card">

                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapsesix" aria-expanded="false" aria-controls="collapseTwo" style="color:white; background-color: #8D8D8D;text-decoration: none;">
                    + <span style="margin-left: 20px;color: white;"> Is it necessary to have two directors to form  Private Limited Company ? </span>
                  </button>
                </h2>

              <div id="collapsesix" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample" style="background-color:#F3F3F3 ;">
                <div class="card-body" style="margin-left: 20px; color: #8D8D8D;">
                  Yes, you need a minimum of two directors for a private limited company. The maximum members can be 200. If you are
                  the sole owner, you can register as a One Person Company
                </div>
              </div>
            </div>
            <div class="card">

              <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseseven" aria-expanded="false" aria-controls="collapseTwo" style="color:white; background-color: #8D8D8D; text-decoration: none;">
                  + <span style="margin-left: 20px;color: white;"> Is it necessary to have two directors to form  Private Limited Company ? </span>
                </button>
              </h2>

            <div id="collapseseven" class="collapse" aria-labelledby="headingseven" data-parent="#accordionExample" style="background-color:#F3F3F3 ;">
              <div class="card-body" style="margin-left: 20px; color: #8D8D8D;">
                Yes, you need a minimum of two directors for a private limited company. The maximum members can be 200. If you are
                the sole owner, you can register as a One Person Company
              </div>
            </div>
          </div>
                </div>

              </div>
              <div class="col-md-1 col-sm-1 col-lg-1 col-xl-1 col-1"></div>
            </div>
          </div>

        </div>
        <div style="background-color: #F3F3F3;">
          <div id="bac" style="text-align: center;" >
            <h2 style="margin-top: 80px;">Why us</h2>

            <img src="Line 1.png" alt="" style="margin-top: -2%; margin-left: 0%;"> <br><br>

            <div id ="roo"class="row">
             <div class="col-sm-3" >

                 <div class="card-body">

                <img src="Group 10.png" alt="">
                <p style="font-size: small;margin-left: 5%; margin-top: 20%;">Fastest Growing Legal Portal</p>
               </div>
             </div>
             <div class="col-sm-3">

                 <div class="card-body">
                 <img src="Group 7.png" alt="">
                 <p style="font-size: small;margin-left: 5%; margin-top: 20%;">Served 5000+ Customers in 2 Years</p>
               </div>
             </div>
             <div class="col-sm-3">

                   <div class="card-body">
            <img src="Group 8.png" alt="">
            <p style="font-size: small;margin-left: 5%; margin-top: 20%;">Available in 150+ Cities of India</p>
                 </div>
               </div>
               <div class="col-sm-3">

                   <div class="card-body">
                     <img src="Group 9.png" alt="">
                   <p style="font-size: small;margin-left: 5%; margin-top: 20%;">Solved 15000+ Legal & Tax Queries</p>
                 </div>
               </div>

           </div>
         </div>

        </div>
        <div>

          <div style="margin-left: -1%; padding-bottom: 7%;" >
            <div style="align-items: center;margin-left: 120px; margin-top: 10%;"> <img src="Capturhe.PNG" alt="" style=" margin-top: -3%;width:2cm;height: 0.5cm;"> </div>


                      <div class="card-body" style="display: inline-block;margin-left: 7%;" >
                       <h3 style="font-size: 0.8cm;">What Clients say <br>
                        About us</h3>
                        <p >Lorem ipsum dolor sit amet, consectetur <br>
                          adipiscing elit, sed do eiusmod tempor <br>
                          incididunt ut labore et  dolore magna <br>
                          aliqua. Ut enim ad minim</p>

                          <div class="" id="shad" style="height: 7cm;width: 8cm; margin-left: 150%;margin-top: -50%;">


    <img src="20170724-131004.png" style="margin-top:-19%; margin-right:80% ; margin-left:-18% ;margin-bottom: 20%;" alt="">
                            <div class="card-body">
                              <h4 style="margin-top: -50%;margin-left: 22%;">Rajiv Gupta</h4>
                              <h6 style="margin-top: -2%;margin-left: 22%;">Director,XYZ Pvt. Ltd</h6>
                              <p style="font-size: small;">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum"</p>
                            </div>
                          </div>
                          <div class="" id="shad" style="height: 7cm;width: 8cm; margin-left: 280%;margin-top: -88%;">
                            <img src="20170724-131004.png" style="margin-top:-19%; margin-right:80% ; margin-left:-18% ;margin-bottom: 20%;" alt="">
                            <div class="card-body">
              <h4 style="margin-top: -50%;margin-left: 22%;">Rajiv Gupta</h4>
              <h6 style="margin-top: -2%;margin-left: 22%;">Director,XYZ Pvt. Ltd</h6>
              <p style="font-size: small">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum"</p>
                            </div>
                          </div>


                    </div>


        </div>
        <div>

          <div style="background-color: #F3F3F3; padding-top: 3%;padding-bottom: 3.5%;">
            <h4 style="text-align: center; padding-bottom: 2%;">Our Clients</h4>
           <div style="align-items: center;margin-left:49%;margin-top: -2%;"><img src="Line 1.png" alt="" style=" margin-top: -3%;width:0.6cm;"></div>
           <div ><img src="1528286964_BurgersinghLogo.png" style="height: 3cm;width: 3cm;margin-left: 16%; margin-right: 4%;" alt="">
            <img src="icici_bank_logo_symbol.png" style="margin-left: ;margin-right: 5%;" alt="">
            <img src="DA-MILANO.png" style="height: 3cm;width: 3cm;margin-left: -0.1%;margin-right: 6%;" alt="">
            <img src="1522655410_KhanchachaLogo.png" style="height: 3cm;width: 3cm;margin-left: -0.1%;margin-right: 7%;" alt="">
            <img src="Dk0bYiMS_400x400.png" style="height: 3cm;width: 3cm;margin-left: -0.1%;" alt=""></div>

          </div>

          </div>

        </div>
<div>
  <div style="padding: 3%;padding-left: 10%;padding-right: 10%;">
    <h4 style="text-align: center;">Latest Feeds</h4>
    <div style="align-items: center;margin-left: 41%;margin-top: -1.3;"><img src="Line 1.png" alt="" style="  margin-left: 14%; margin-top: -3%;width:0.6cm;height: 0.1cm;"></div>
    <div class="row" style="margin-top: 5%;" >
      <div class="col-sm-4" style="padding-left: 2%;padding-right: 2%;">
<div class="card" id="shadow" style="border-radius: 10px;border-color: white;">
<div class="col-sm-12" style="margin-top: 60%;background-color: #ACACAC;color:#ACACAC ;border-end-end-radius: 10px;border-bottom-left-radius: 10px ;"><p></p><br><p></p></div>
</div>
      </div>
      <div class="col-sm-4" style="padding-left: 2%;padding-right: 2%;">
        <div class="card" id="shadow"style="border-radius: 10px;border-color: white;">
          <div class="col-sm-12" style="margin-top: 60%; background-color: #ACACAC;color:#ACACAC ;border-end-end-radius: 10px;border-bottom-left-radius: 10px ;">
          <p></p> <br><p></p></div>
        </div>
      </div>
      <div class="col-sm-4" style="padding-left: 2%;padding-right: 2%;">
        <div class="card" id="shadow" style="border-radius: 10px;border-color: white;">
          <div class="col-sm-12" style="margin-top: 60%;background-color: #ACACAC;color:#ACACAC ;border-end-end-radius: 10px;border-bottom-left-radius: 10px ;"><p></p>
          <br> <p></p>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <div id="rec" >
    <div style="padding-top: 0.1%;margin-left: 5%;margin-right: 5%;">
    <div class="row" style="margin:4%" >
      <div class="col-sm-3">

          <div class="card-body" style="color: white;">
            <h6>REGISTRATIONS</h6>
            <div style="margin-left: -15%;"><img src="Captuhhre.png" alt="" style=" margin-top: -10%; width:0.6cm;height: 0.1cm;"></div>
            <ul style="list-style-type:none;font-size: 0.3cm; margin-top: -7%;"><li>Option one</li>
            <li>
              Option two
            </li>
          <li>Option three</li>
        <li>Option four</li></ul>
          </div>

      </div>
      <div class="col-sm-3">

          <div class="card-body" style="color: white;">
            <h6>LICENCING</h6>
            <div style="margin-left: -15%;"><img src="Captuhhre.png" alt="" style=" margin-top: -10%; width:0.6cm;height: 0.1cm;"></div>
            <ul style="list-style-type:none;font-size: 0.3cm;margin-top: -7%;"><li>Option one</li>
              <li>
                Option two
              </li>
            <li>Option three</li>
          <li>Option four</li></ul>

        </div>
      </div>
      <div class="col-sm-3">

          <div class="card-body" style="color: white;">
            <h6>TAXATION</h6>
            <div style="margin-left: -15%;"><img src="Captuhhre.png" alt="" style=" margin-top: -10%; width:0.6cm;height: 0.1cm;"></div>
            <ul style="list-style-type:none;font-size: 0.3cm;margin-top: -7%;"><li>Option one</li>
              <li>
                Option two
              </li>
            <li>Option three</li>
          <li>Option four</li></ul>
          </div>

      </div>
      <div class="col-sm-3">

          <div class="card-body"  style="color: white;">
            <h6>OTHERS</h6>
            <div style="margin-left: -15%;"><img src="Captuhhre.png" alt="" style=" margin-top: -10%; width:0.6cm;height: 0.1cm;"></div>
            <ul style="list-style-type:none;font-size: 0.3cm;margin-top: -7%;"><li>Option one</li>
              <li>
                Option two
              </li>
            <li>Option three</li>
          <li>Option four</li></ul>

        </div>
      </div>
    </div>
    <div class="row" style="margin:4%">
      <div class="col-sm-3">

          <div class="card-body"  style="color: white;">
            <h6>Navigations</h6>
            <div style="margin-left: -15%;"><img src="Captuhhre.png" alt="" style=" margin-top: -10%; width:0.6cm;height: 0.1cm;"></div>
            <ul style="list-style-type:none; font-size: 0.3cm;margin-top: -7%;"><li>Option one</li>
              <li>
                Option two
              </li>
            <li>Option three</li>
          <li>Option four</li>
        <li>Option five</li></ul>
          </div>

      </div>
    <div class="col-sm-3">

        <div class="card-body"  style="color: white;">
          <h6>Kolkata Office</h6>
          <div style="margin-left: -15%;"><img src="Captuhhre.png" alt="" style=" margin-top: -10%; width:0.6cm;height: 0.1cm;"></div>
          <p style="font-size: 0.3cm;margin-top: -7%;">14, Netaji Subhas Road, 3rd floor,
            Kolkata – 700001, West Bengal, India,
            Contact Person : Sanjay Mohta
            M +91-9311142890</p>
        </div>

    </div>
    <div class="col-sm-3">

        <div class="card-body"  style="color: white;">
          <h6>Mumbai Office</h6>
          <div style="margin-left: -15%;"><img src="Captuhhre.png" alt="" style=" margin-top: -10%; width:0.6cm;height: 0.1cm;"></div>
          <p style="font-size: 0.3cm;margin-top: -7%;">SS- III 50 , 1st Floor , Opposite Railway
            Housing Society, Near Abott Hotel,
            Sec 02 , Vashi, Mumbai, India
            Contact Person : Narayan Sarda
            M +91-9999799278</p>
        </div>

    </div>
    <div class="col-sm-3">

        <div class="card-body"  style="color: white;"><h6>Head Office</h6>
          <div style="margin-left: -15%;"><img src="Captuhhre.png" alt="" style=" margin-top: -10%; width:0.6cm;height: 0.1cm;"></div>
          <p style="font-size: 0.3cm;margin-top: -7%;">80 , Ground Floor , Defence Enclave,
            Main Vikas Marg , Delhi - 110092.
            Phones : 011-45235502/03/04
            M +91-9999999278</p></div>
      </div>

  </div>
    <div class="row"style="margin:4%">
      <div class="col-sm-3">

          <div class="card-body"></div>

      </div>
      <div class="col-sm-3">

          <div class="card-body"></div>

      </div>
      <div class="col-sm-3">

          <div class="card-body"  style="color: white;"><h6>Pune Office</h6>
            <div style="margin-left: -15%;"><img src="Captuhhre.png" alt="" style=" margin-top: -10%; width:0.6cm;height: 0.1cm;"></div>
            <p style="font-size: 0.3cm;margin-top: -7%;">Down Town City Vista, Kharadi,
              Pune - 411014,
              Contact Person : Prerna Saboo
              M +91-8588059775</p></div>
        </div>
      <div class="col-sm-3">

          <div class="card-body"></div>

      </div>
    </div>
  </div>
  </div>
  <div class="col-sm-12">
    <span style="font-size: small;">Copyright Line</span>
    <span style="float: right;font-size: small;padding: 0.3cm;padding-top: 0.2cm;">cards Icon</span>
  </div>
    </div>

  </div>
    </div>
</div>

</div>

      </div>



</body>
</html>
